* {
    box-sizing: border-box;
}

header {
    background-color: darkolivegreen;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 4rem;
    font-family: monospace;
}
button {
    background-color: rgb(147, 172, 147);
    color: white;
    font-size: 2rem;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    top: 142px;
    border-radius: 15px;
}